/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 24, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 45, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 49, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
body {
  line-height: 1;
}

/* line 52, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 55, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 58, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 63, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 68, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
img, iframe, video, object {
  max-width: 100%;
}

/* line 72, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
strong, b {
  font-weight: bold;
}

/*micro clear fix */
/* line 77, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}

/* line 83, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.grouping:after {
  clear: both;
}

/*
CSS code for after the reset
*/
/* line 91, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
body {
  background-color: #DAE3E7;
}

/* line 95, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
a, u {
  text-decoration: none !important;
}

/* line 99, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
#logo {
  width: 14em;
  height: 3.125em;
  float: left;
  margin-top: 0.3em;
  margin-left: 2em;
}

/* line 106, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.navbar {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

/* line 113, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav {
  float: right;
}

/* line 116, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav > li {
  float: left;
}

/* line 118, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav > li a {
  float: left;
  padding: 1.5625em 0;
  width: 12em;
  border-left: 1px solid #ada791;
  text-transform: uppercase;
  text-align: center;
  color: #766e65;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  transition: 0.15s background-color linear;
}

/* line 132, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav > li a:focus, .primary-nav > li a:hover {
  cursor: pointer;
  background-color: #eb2428;
  color: #fff;
}

/* line 140, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.box {
  border-left: 3em solid #DAE3E7;
  border-right: 3em solid #DAE3E7;
  border-bottom: 2em solid #DAE3E7;
  background-color: white;
  float: left;
}

/* line 145, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.box > img {
  padding: 2em;
  width: 75%;
  display: block;
  margin: 0 auto;
}

/* line 153, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.left {
  width: 60%;
}

/* line 157, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.right {
  width: 40%;
}

/* line 161, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.middle {
  float: none;
  width: 70%;
  margin: auto;
}

/* line 167, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.nearTop {
  border-top: 5.5em solid #DAE3E7;
}

/* line 171, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.header {
  font-weight: bold;
  font-size: 1.8em;
  padding-left: .5em;
}

/* line 178, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
p {
  padding: 1em;
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
}

/* line 185, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.icon {
  margin-right: 0.8em;
  height: 1em;
  width: 1em;
}

/* line 191, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
a {
  display: inline-block;
}

/* line 195, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
#resume {
  max-width: 100%;
}

/* line 199, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.floatSmashImg {
  float: right;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 10em;
  height: 13em;
}

/*
.floatProjectImg{
	float: right;
	padding:{
		left: $stdSize;
		bottom: $stdSize;
	} 
	width: 10%;
}
*/
/* line 218, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
video:hover {
  cursor: pointer;
}

/* line 222, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.underline {
  text-decoration: underline;
}

/*media query*/

/*# sourceMappingURL=../css/style.map */