/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 24, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 45, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 49, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
body {
  line-height: 1;
}

/* line 52, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 55, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 58, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 63, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 68, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
img, iframe, video, object {
  max-width: 100%;
}

/* line 72, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
strong, b {
  font-weight: bold;
}

/*micro clear fix */
/* line 77, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}

/* line 83, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.grouping:after {
  clear: both;
}

/*
CSS code for after the reset
*/
/* line 91, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
body {
  background-color: #DAE3E7;
}

/* line 95, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
a, u {
  text-decoration: none !important;
}

/* line 99, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
#logo {
  width: 14em;
  height: 3.125em;
  float: left;
  margin-top: 0.3em;
  margin-left: 2em;
}

/* line 106, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.navbar {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

/* line 113, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav {
  float: right;
}

/* line 116, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav > li {
  float: left;
}

/* line 119, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav > li a {
  float: left;
  padding: 1.5625em 0;
  width: 12em;
  border-left: 1px solid #ada791;
  text-transform: uppercase;
  text-align: center;
  color: #766e65;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  transition: 0.15s background-color linear;
}

/* line 133, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.primary-nav > li a:focus, .primary-nav > li a:hover {
  cursor: pointer;
  background-color: #eb2428;
  color: #fff;
}

/* line 141, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.box {
  border-left: 3em solid #DAE3E7;
  border-right: 3em solid #DAE3E7;
  border-bottom: 2em solid #DAE3E7;
  background-color: white;
  float: left;
}

/* line 146, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.box > img {
  padding: 2em;
  width: 75%;
  display: block;
  margin: 0 auto;
}

/* line 154, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.left {
  width: 60%;
}

/* line 158, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.right {
  width: 40%;
}

/* line 162, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.middle {
  float: none;
  width: 70%;
  margin: auto;
}

/* line 168, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.nearTop {
  border-top: 5.5em solid #DAE3E7;
}

/* line 172, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.header {
  font-weight: bold;
  font-size: 1.8em;
  padding-left: .5em;
}

/* line 179, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
p {
  padding: 1em;
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
}

/* line 186, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.icon {
  margin-right: 0.8em;
  height: 1em;
  width: 1em;
}

/* line 192, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
a {
  display: inline-block;
}

/* line 196, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
#resume {
  max-width: 100%;
}

/* line 200, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.floatSmashImg {
  float: right;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 10em;
  height: 13em;
}

/* line 210, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
video {
  display: block;
  width: 90%;
  margin: 0 auto;
}

/* line 215, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
video:hover {
  cursor: pointer;
}

/* line 219, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
.underline {
  text-decoration: underline;
}

/*media queries*/
@media screen and (max-width: 850px) {
  /* line 226, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
  #logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 2.25em;
    width: 10em;
  }
  /* line 234, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
  .box {
    float: none;
    width: auto;
    border-top: 0;
  }
  /* line 239, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
  .navbar {
    position: fixed;
    float: none;
  }
  /* line 243, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
  .first {
    border-top: 10em solid #DAE3E7;
  }
  /* line 246, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
  .primary-nav {
    width: 100%;
  }
  /* line 249, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
  .primary-nav > li {
    float: right;
    width: 100%;
  }
  /* line 252, C:/Users/Eric/Desktop/My-Website/scss/style.scss */
  .primary-nav > li a {
    text-align: right;
    padding: 1em 1.5em 1.5em 0;
    width: 100%;
    border-bottom: 0.05em solid #ada791;
    border-left: 0px;
    font-size: 0.75em;
  }
}

/*# sourceMappingURL=../css/style.map */