hr {
	height: 1px;
	color: darkgrey;
	background-color: darkgrey;
	border: none;
	margin-top: 0;
}

// .guardian{
// 	width: 50%;
// }
// #desktop-view{
// 	float: left;
// 	width: 60%
// }

// #mobile-view{
// 	float: right;
// 	//width: 40%;
// 	height:230px;
// 	overflow: hidden;
// }