/*
CSS code for after the reset
*/

body{
	background-color: $bkgd;
}

a, u{
	text-decoration: none !important;
}

.box{
	@include divborders;
	background-color: white; //white boxes
	//float: left;

	& > img{ //picture of me
		padding: 1.5em;
		width: 55%;
		display: block;
		//margin: 0 auto;
		float: left;
	}
}

.header{
	font-weight: bold; 
	font-size: 1.8em;
	padding-left: .5em;
	//text-align: center;
}

p{
	padding: $stdSize;
	font-size: $stdSize;
	text-align: left;
	line-height: 1.5em;
}

.icon{
	margin-right: 0.8em;
	height: $stdSize;
	width: $stdSize; 
}

a{
	display: inline-block;
}

#resume-image{
	max-width: 50%;
	display: block;
	margin: 0 auto;
	border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    &:hover {
	    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	}
}

.underline{
	text-decoration: underline;
}

#header-near-image{
	padding-top: 1.5rem;
}